.container-login-main {
  background: radial-gradient(circle, var(--radialBlue));
  display: flex;
  height: 100vh;
  justify-content: center;
}

.container-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}

.container-login img {
  margin-bottom: 50px;
  width: 70%;
}

.container-login form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-login input {
  background: #e6e6e6;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 12px;
  padding: 24px;
  width: 50%;
}

.login-pink-button {
  box-shadow: none;
  margin: 12px 0 84px;
  padding: 24px;
}

.container-login a {
  text-align: center;
  width: 100%;
}
