.config-container {
  background: radial-gradient(circle, var(--radialPurple));
}

.default-field {
  padding: 0 10%;
}

.default-field h1 {
  align-items: center;
  display: flex;
  height: 20%;
}

.default-field label {
  align-self: flex-start;
  font-size: larger;
  font-weight: 500;
  height: 60px;
  margin-bottom: 12px;
  width: 100%;
}

.default-field span {
  display: inline-block;
  width: 90px;
}

.default-field select {
  border-radius: 10px;
  font-size: medium;
  padding: 8px;
  width: 100%;
}

.default-field option {
  font-size: medium;
}


.alert-config {
  color: rgb(243, 0, 0);
  text-shadow: 0 0 2px rgb(117, 117, 117);
}

.config-field-button {
  align-items: flex-end;
  display: flex;
  height: 30%;
}
