.header-component {
  align-items: center;
  display: flex;
  height: 90px;
  justify-content: space-between;
  margin-bottom: 24px;
  max-width: 800px;
  padding: 0 8px;
  width: 100%;
}

.header-component > img {
  height: 45%;
}

.header-user-infos {
  align-items: center;
  color: white;
  display: flex;
  font-weight: 500;
  height: 50%;
  justify-content: flex-end;
}

.header-user-infos img {
  border-radius: 50%;
  height: 45px;
}

.header-user-infos div {
  margin-left: 12px;
}
