.question-category {
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
}

.question-text {
  font-size: xx-large;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.37);
}
