:root {

  --darkBlue: #0a4eb1;

  --middleBlue: #396fbe;

  --lightBlue: #7b9ac8;

  --darkPurple: #402d53;

  --middlePurple: #715092;

  --lightPurple: #9d66d3;

  --radialBlue: var(--lightBlue) 11% , var(--middleBlue) 37% , var(--darkBlue) 76%;

  --radialPurple: var(--lightPurple) 11% , var(--middlePurple) 37% , var(--darkPurple) 76%;
  
  --hotPink: #ea4c89;

  --darknessPurple: #402d53;

  --tramparentWhite: rgb(255, 255, 255, 0.2);

  --textShadow: 1px 1px 3px rgba(0, 0, 0, 0.37);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, input, button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(136, 136, 136, 0.486);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--darknessPurple);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #402d53cb;
}

.default-container {
  align-items: center;
  background: radial-gradient(circle, var(--radialBlue));
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.default-field {
  align-items: center;
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 8px 8px 20px 9px rgba(26, 26, 26, 0.6);
  display: flex;
  flex-direction: column;
  height: 70%;
  max-width: 700px;
  width: 80%;
}

.default-pink-button {
  background: var(--hotPink);
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 12px 8px rgba(26, 26, 26, 0.4);
  color: rgb(236, 236, 236);
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  margin: 32px 0;
  padding: 12px;
  transition: filter 0.2s;
  width: 50%;
}

.default-purble-button {
  background: var(--darknessPurple);
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 12px 4px rgba(26, 26, 26, 0.4);
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  margin: 12px 0;
  padding: 12px 18px;
  transition: filter 0.2s;
}

.default-pink-button:hover, .default-purble-button:hover {
  filter: brightness(0.8);
}
