.feedback-container {
  justify-content: space-between;
}

.feedback-field {
  justify-content: center;
}

.font-size-40 {
  font-size: 40px;
}

.final-msg-game {
  margin-bottom: 10%;
  text-shadow: var(--textShadow);
}

.feedback-field-button {
  align-items: center;
  display: flex;
  height: 15%;
  justify-content: center;
  width: 100%;
}

.feedback-field-button button {
  max-width: 350px;
}

.font-size-30 {
  font-size: 30px;
  text-shadow: var(--textShadow);
}

.feedback-purble-button {
  margin-top: 20%;
}
