.feedback-container {
  align-items: center;
  background: radial-gradient(circle, var(--radialBlue));
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.feedback-field {
  align-items: center;
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 30px;
  display: flex;
  font-size: 40px;
  font-weight: 700;
  height: 80%;
  justify-content: center;
  margin-bottom: 20%;
  max-width: 700px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.37);
  width: 80%;
}
