.gamescreen-component {
  justify-content: space-between;
}

.questions-area {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-evenly;
  text-align: center;
  width: 80%;
}

.button-area {
  height: 20%;
  text-align: center;
  width: 100%;
}
